<form>
<div class="row">
  <div class="col-md-6 form-group">
    <input type="text" required #name="ngModel" placeholder="First name" [class.is-invalid]="name.touched" name="firstName" class="form-control" [(ngModel)]="employeeService.currentEmployee.firstName">
  </div>
  <div class="col-md-6 form-group">
    <input type="text" placeholder="Last name"  name="lastName"  class="form-control"  [(ngModel)]="employeeService.currentEmployee.lastName">
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-group">
    <input type="text" placeholder="Designation" name="designation" class="form-control"  [(ngModel)]="employeeService.currentEmployee.designation">
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <input type="text" placeholder="Contact" name="contact" class="form-control"  [(ngModel)]="employeeService.currentEmployee.contact">
  </div>
  <div class="col-md-6 form-group">
    <input type="text" placeholder="Address" name="address" class="form-control"  [(ngModel)]="employeeService.currentEmployee.address">
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <button class="btn btn-success  btn-block btn-lg" (click)="createAndUpdate(this.employeeService.currentEmployee)"> <i class="fa fa-save">SAVE</i> </button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary btn-block btn-lg " (click)="clearEmployee()"> <i class="fa fa-retweet">CLEAR</i> </button>
  </div>
</div>
</form>